#loading-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#loading-box {
    color: black;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 1);
}

.container3 {
    color: white;
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

