<!--
Pull json data
Prompt for CS/CIS
prompt for classes taken.
	-Be sure to show prereq classes that are not part of the department
Prompt for days of week (Default any)
Prompt show full classes or not
Print out a text list of classes that meet prereq that they can take. Provide all classes they can do
Print out suggested class schedule. Prioritize classes that are prereq for later courses
	-Second priority classes on same day or that are close to each other.
	-Third priority classes that are less full.

Print out Garrnt chart of suggested classes
-->
<html>
<head>
    <!-- CSS Libs -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Latest compiled and minified CSS for bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha256-IsefKVCcMUlgpXQgIMRsqbIqC6aP153JkybxTa7W7/8= sha512-mCNEsmR1i3vWAq8hnHfbCCpc6V5fP9t0N1fEZ1wgEPF/IKteFOYZ2uk7ApzMXkT71sDJ00f9+rVMyMyBFwsaQg==" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
            position: relative;
        }

        body::before {
            background: url('img/svsu_gate.jpg'); no-repeat center center fixed;
            content: '';
            z-index: -1;
            width: 20%;
            height: 20%;
            transform-origin: top left;
            transform: scale(5);

            position:fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(1px);
        }
    </style>

</head>
<body>
    <div id="loading-overlay">
        <div id="loading-box">
            Loading Data...
            <div id="loading-progressbar"></div>
        </div>
    </div>
<div>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img src="./img/course_planner.png">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label>Choose your degree</label>
                            <select class="form-control" id="degreeFilter">
                                <option value="CS">CS</option>
                                <option value="CIS">CIS</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        Please select the classes you have completed below<br/>
                        <!-- This will be filled in by the app with all classes it knows about -->
                        <div id="classList"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="cbDays">Days to take Classes</label>
                        <div class="col-md-3">
                            <label class="checkbox-inline" for="cbDays-0">
                                <input type="checkbox" name="cbDays" class="checkbox-daysList" id="cbDays-0" value="M" checked>
                                M
                            </label>
                            <label class="checkbox-inline" for="cbDays-1">
                                <input type="checkbox" name="cbDays" class="checkbox-daysList" id="cbDays-1" value="T" checked>
                                T
                            </label>
                            <label class="checkbox-inline" for="cbDays-2">
                                <input type="checkbox" name="cbDays" class="checkbox-daysList" id="cbDays-2" value="W" checked>
                                W
                            </label>
                            <label class="checkbox-inline" for="cbDays-3">
                                <input type="checkbox" name="cbDays" class="checkbox-daysList" id="cbDays-3" value="R" checked>
                                R
                            </label>
                            <label class="checkbox-inline" for="cbDays-4">
                                <input type="checkbox" name="cbDays" class="checkbox-daysList" id="cbDays-4" value="F" checked>
                                F
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-md-3 control-label" for="textinput">Max Credits</label>
                            <div class="col-md-3">
                                <input id="maxCredits" type="text" value="16" placeholder="credits" class="form-control input-md">
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <input type="button" class="btn btn-success" value="Submit" onclick="calcSchedule()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="suggestedClasses" style="display: none">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Here is a list of classes you should take</h4>
                    <div id="classToTake"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="display: none">
            <div class="panel panel-default">
                <div class="panel-body">
                    Here is a fancy chart of what we suggest you take
                </div>
            </div>
        </div>
        <div class="col-md-12"  style="display: none">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="courseChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <!-- Javascript libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="js/underscore-min.js"></script>
    <script src="js/underscore.string.min.js"></script>
    <script src="js/moment.js"></script>

    <link rel="stylesheet" href="css/vis.min.css">
    <script src="js/vis.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/index.js" async></script>

    <!--This is the template used to display info on classes you should take-->
    <script type="text/template" id="classInfo">
        <h3><%=name%> - <%=longName%></h3>
        <div>
            Instructor: <%=instructor[0].name%><br>
            Meets:
            <%  meetingTimes="";
                _.each(times,function(time,index) {
                 meetingTimes += time.start.format("dddd, h:mm a") + " - " + time.end.format("h:mm a") + ", "
                    }); %>
            <%= meetingTimes.substring(0,meetingTimes.length-2) %><br>
            Room: <%=room%><br>
            Credits: <%=credits%><br>
            <%=desc%><br>
            </div>
    </script>
</body>
</html>